**/*.spec.js
**/*.spec.js.map
**/*.ts
!lib/**/*.d.ts
lib/**/*.spec.d.ts

.eslintignore
.eslintrc.js
.turbo
.lintstagedrc.json
coverage
CHANGELOG.md
jest.config.mjs
jest.js.config.mjs
pnpm-lock.yaml
prettier.config.js
README.md
tsconfig.json
